:root {
    --fonte-principal:'Barlow Semi Condensed';
}

body {
    font-family: var(--fonte-principal);
}

.div-daniel {
    background: hsl(263, 55%, 52%);
    display: grid;
    width: 500px;
    margin: 0 6em;
    border-radius: 10px;
}

.foto {

}

.nome {
    font-size: 13px;
    position: relative;
    left: 30px;
}

.verificado {
    font-size: 10px;
    position: relative;
    left: 30px;
}

.titulo {
    font-size: 15px;
    font-weight: bold;
}

.texto {
    font-size: 13px;
}
